{% assign author = site.authors[page.author] %}
<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="//www.gravatar.com/avatar/{{author.gravatar}}" alt="{{author.name}}" title="{{author.name}}"/>
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="{{author.website}}/posts">{{author.display_name}}</a>
        </h3>
        <a itemprop="email" class="email" href="mailto:{{author.email}}">{{author.email}}</a>
        <p class="desc">{{author.description}}</p>
    </div>
</section>
