.comments
    center(rem(800px))
    padding 0 rem(20px)
    margin-bottom rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    background main
    position fixed
    z-index 1000
    width 100%
    bottom 0
    padding rem(10px) rem(15px)
    font-size 80%
    margin-top 100px
    p,a
        text-decoration none
        mainFont(300)
        color sec
        text-align right
        margin 0
